@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --spinner-border-color: rgba(0, 0, 0, 0.2); /* Light theme border */
  --spinner-border-top-color: #000; /* Light theme border top */
}

[data-theme="dark"] {
  --spinner-border-color: rgba(255, 255, 255, 0.2); /* Dark theme border */
  --spinner-border-top-color: #fff; /* Dark theme border top */
}

/* Hero */
.hero-section {
  position: relative;
  width: 100%;
  height: 530px; /* Adjust to your desired height */
  overflow: hidden;
}

.hero-section::before {
  background: rgba(35, 35, 35, 0.67);
  z-index: 1; /* Ensure overlay is on top */
}
/* .hero-section {
    background: url(../img/map_bg.PNG) center center no-repeat;
    background-size: cover;
    position: relative;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  } */

/* .hero-section::before,
.testimonial::before,
.video-tour::before,
.content-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
} */

.hero-section::before {
  background: rgba(35, 35, 35, 0.67);
}

.welcome-message {
  z-index: 2;
  padding: 7em 15px 15em;
}

@media (max-width: 599px) {
  .welcome-message {
    padding: 2em 15px 7em;
  }
}

.welcome-message h1,
.welcome-message h2 {
  color: #fff;
  line-height: 1.35;
}

.welcome-message h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}

.welcome-message h2 {
  font-size: 20px;
  font-weight: 600;
}

.benefits-cta-list {
  margin: 1.5em 0 3em;
}

.benefits-cta-list li {
  color: #fff;
  margin-bottom: 8px;
}

.benefits-cta-list li:last-child {
  margin: 0;
}

.benefits-cta-list li i {
  padding-right: 10px;
}

.btn {
  padding: 1.25em 3em;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #31aff5;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #30a7e9;
}

.btn:active,
.btn:focus,
.btn:active:hover,
.btn:active:focus {
  color: #fff;
  outline: none;
  background-color: #30a7e9;
}

.btn:active {
  opacity: 0.8;
}

.btn-cta-hero {
  padding: 1.25em 5.4em;
  margin-top: 3em;
  font-size: 16px;
}

/* Navbar Default */
.navbar-default {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding: 1.5em 0;
  position: absolute;
  width: 100%;
  top: 0;
}

.navbar-brand > .logo-nav {
  display: none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.85);
}

.btn-nav {
  background: rgba(255, 255, 255, 0.22);
  text-transform: none;
  letter-spacing: 0;
}

.navbar-default .navbar-nav > li > .btn-nav:hover,
.navbar-default .navbar-nav > li > .btn-nav:active,
.navbar-default .navbar-nav > li > .btn-nav:focus {
  background: rgba(255, 255, 255, 0.18);
  color: #fff;
}

.navbar-nav > li,
.navbar-header {
  float: left;
}

.navbar-right {
  float: right !important;
}

.navbar-nav {
  margin: 6.5px -15px !important;
}

.affix {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: 1000;
  padding: 0.75em 0;
  box-shadow: 0 0 8px 0px rgba(88, 88, 88, 0.19);
  -webkit-animation: slideInDown 1s both;
  animation: slideInDown 1s both;
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
    padding: 1.5em 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0.75em 0;
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
    padding: 1.5em 0;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0.75em 0;
  }
}

/* @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  } */

.navbar-default.affix .logo {
  display: none;
}

.navbar-default.affix .logo-nav {
  display: block;
}

.navbar-default.affix .navbar-nav > li > a,
.navbar-default.affix .navbar-nav > li > a:focus {
  color: #526066;
  font-weight: 600;
  background-color: transparent;
}

.navbar-default.affix .navbar-nav > li > a:hover,
.navbar-default.affix .navbar-nav > li > a:active,
.mobile-nav-overlay ul li a:hover,
.mobile-nav-overlay ul li a:active,
.mobile-nav-overlay ul li a:focus,
.navbar-nav .active .fa-times:hover,
.navbar-nav .active .fa-times:active,
.navbar-nav .active .fa-times:focus {
  color: #31aff5;
  background-color: transparent;
}

.affix .navbar-nav > li > a.btn-nav {
  background: #31aff5;
  color: #fff;
}

.navbar-default.affix .navbar-nav > li > .btn-nav:hover,
.navbar-default.affix .navbar-nav > li > .btn-nav:active,
.navbar-default.affix .navbar-nav > li > .btn-nav:focus {
  background: #30a7e9;
  color: #fff;
}
